#grid{
    width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns:300px 200px 200px;
    /* grid-row: 1/3; */
    gap: 10px;
    /* background-color: aqua; */
 background-color: rgb(255, 253, 127);   
}
#l{
    position: relative;
    display: flex;
    margin: 30px;
}


footer{
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    left: 0;
}
#p{position: relative;
    text-align: center;}
    
#op{position: relative;
    text-align: center;
}
 
#p{
    text-align: center;
    position: relative;
}
 #top {

    text-align: center;
    position:relative;
    display: flex;
    left: 20px;
    margin-left: 200px;
    

 } 
h2{
    text-align: center;
}



.container{
    position: absolute;
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
    text-align: center;
}
#f{
   display: flex;
    position: absolute;
    margin-top:200px;
    text-align: center;
    margin-left:300px;
    padding: 20px;
    padding-top: 20px; 
    
}
image{
    padding: 20px;
    padding-top: 20px;
    border-top: 20px;
}
li{
    text-align: center;
    
    .text{
        position: absolute;
        display: flex;
    }

}


h5{
margin: 0 50px 0 0;
}



.title{
    text-align: center;
    position: fixed;
    margin-left: 650px;
} 
#te{
    position: absolute;
    margin-top: 20px;
    text-align:center;
    padding: 50px;
     
    
}
.bar{
    text-align: center;
    position: absolute;
    display: flex;
    margin-left: 300px;
    padding: 50px;


}
.ros{
    text-align: center;
    position: absolute;
    display: flex;
    margin-left: 300px;
    margin-top: 470px;
    padding: 70px;
    margin-top: 300px;
}
h3{
    position: relative;
    margin-top: 200px;
    margin-right: 50px;
    text-align: center;

}